
.content{
    margin-top: 70px;
    margin-bottom: 20px;
}
.hero{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.about{
    color: rgb(224, 75, 21);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph{
    
    margin: 50px 10px 10px 10px;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    font-size: 20px;
}

@media screen and (min-width:500px) and (max-width:1000px){

}